
html, body {
  background-color: rgb(34, 34, 34);
  font-family: 'Montserrat', sans-serif;
}

.container {
  display: flex;
  justify-content: center;
}

.card {
  width: 450px;
  height: 800px;
  background-color: rgb(255, 255, 255);
  text-align: center;
  border-radius: 30px;
  margin: auto;
  margin-top: 15px;
  margin-bottom: 15px;
}

/* Main page logo font */
h1 {
  background-image: linear-gradient(135deg, #feab3a 0%,#f35626 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 30px;
  line-height: 60px;
  font-size: 60px;
}

/* Restaurant name */
h2 {
  margin: 0px;
  margin-top: 30px;
  line-height: 40px;
  font-size: 40px;
  font-weight: bolder;
  color: rgb(50, 50, 50);
}

/* Session code and city */
h4 {
  background-image: linear-gradient(135deg, #feab3a 0%,#f35626 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 20px;
  font-size: 35px;
  font-weight: bold;
}

/* Restaurant picture */
.picture {
  border-radius: 15px;
  width: 96%;
  height: 96%;
  margin-top: 7px;
}
/* Picture border */
.picBox {
  background-image: linear-gradient(135deg, #feab3a 0%,#f35626 100%);
  height: 350px;
  width: 350px;
  border-radius: 20px;
}

.choices {
  position: absolute;
  bottom: 40px;
  left: 50px;
}
.yesBtn {
  height: 100px;
  width: 100px;
  border-radius: 50px;
  background-image: linear-gradient(135deg, #67c051 0%,#19a87d 100%);
  color: white;
  font-size: 50px;
  border: none;
  outline: none;
  margin-left: 60px;
  margin-top: 50px;
}
.noBtn {
  height: 100px;
  width: 100px;
  border-radius: 50px;
  background-image: linear-gradient(135deg, #fc4646 0%,#ce4686 100%);
  color: white;
  font-size: 50px;
  border: none;
  outline: none;
  margin-right: 60px;
  margin-top: 50px;
}

.decideBtn {
  height: 70px;
  width: 300px;
  border-radius: 10px;
  background-image: linear-gradient(135deg, #feab3a 0%,#f35626 100%);
  color: white;
  font-size: 40px;
  border: none;
  margin: auto;
  margin-top: 50px;
}

.backBtn {
  height: 50px;
  width: 200px;
  border-radius: 10px;
  background-image: linear-gradient(135deg, #feab3a 0%,#f35626 100%);
  color: white;
  font-size: 30px;
  border: none;
  margin: 35px;
}

.mainPage{
  margin-top: 180px;
}
.logo {
  width: 250px;
  margin-bottom: 10px;
}
.main {
  background-image: linear-gradient(135deg, #feab3a 0%,#f35626 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: auto;
  line-height: 70px;
  font-size: 70px;
}
a, a:link, a:visited, a:hover, a:active 
{
  text-decoration: none;
}
.stars {
    background-image: linear-gradient(135deg, #feab3a 0%,#f35626 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 0px;
    font-size: 45px;
    font-weight: bold;
    padding: 0px;
}

.formBox {
  height: 50px;
  width: 300px;
  font-size: 30px;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
}

button:focus, input:focus, textarea:focus, select:focus{
  outline: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}


@keyframes heartBeat {
  0% {
    transform: scale(1);
  }

  14% {
    transform: scale(1.1);
  }

  28% {
    transform: scale(1);
  }

  42% {
    transform: scale(1.1);
  }

  70% {
    transform: scale(1);
  }
}

.heartBeat {
  animation-name: heartBeat;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
}