
html {
  min-height: 100%;
font-family: 'Montserrat', sans-serif;
}

body {
  background-image: linear-gradient(135deg, #a56dbb 0%,#eb5d5d 100%);
  font-family: 'Montserrat', sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.card {
  height: 850px;
  width: 500px;
  background-color: rgb(255, 255, 255);
  text-align: center;
  border-radius: 30px;
  margin-top: 40px;
}

h1 {
  background-image: linear-gradient(135deg, #feab3a 0%,#f35626 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 30px;
  line-height: 70px;
  font-size: 70px;
}

.main {
  background-image: linear-gradient(135deg, #feab3a 0%,#f35626 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: auto;
  line-height: 100px;
  font-size: 90px;
}
a, a:link, a:visited, a:hover, a:active 
{
  text-decoration: none;
}

.picture {
  height: 300px;
  width: 300px;
  border-radius: 10px;
  background-color: rgb(218, 122, 253);
  margin: auto;
}

.yesBtn {
  height: 100px;
  width: 100px;
  border-radius: 50px;
  background-image: linear-gradient(135deg, #5add50 0%,#21aabd 100%);
  color: white;
  font-size: 50px;
  border: none;
  margin: 20px;
}

.noBtn {
  height: 100px;
  width: 100px;
  border-radius: 50px;
  background-image: linear-gradient(135deg, #fc4646 0%,#c93db6 100%);
  color: white;
  font-size: 50px;
  border: none;
  margin: 20px;
  outline: none;
}

.decideBtn {
  height: 70px;
  width: 300px;
  border-radius: 10px;
  background-image: linear-gradient(135deg, #feab3a 0%,#f35626 100%);
  color: white;
  font-size: 40px;
  border: none;
  margin: auto;
  margin-top: 50px;
}

.backBtn {
  height: 50px;
  width: 200px;
  border-radius: 10px;
  background-image: linear-gradient(135deg, #feab3a 0%,#f35626 100%);
  color: white;
  font-size: 30px;
  border: none;
  margin: 50px;
}

.formBox {
  height: 50px;
  width: 400px;
  font-size: 30px;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
}

button:focus, input:focus, textarea:focus, select:focus{
  outline: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}